@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #efefef;
}

main {
  width: 100%;
  height: 100vh;
}

section {
  padding: 14vh 0;
  height: 100%;
}

section h1 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
}

section .inner {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

section article {
  border: 1px solid black;
  width: 24%;
}
section figure {
  width: 100%;
  height: 200px;
  background: #000;
  position: relative;
  overflow: hidden;
}

section figure video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section article h2 {
  text-align: center;
  font-size: 17px;
}

section article a {
  margin: 20px auto;
  display: block;
  width: 100px;
  line-height: 30px;
  text-align: center;
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
}